
%links {
	text-decoration: none;
	color:black;
}

%image{
	 margin: 20px auto;
}

%headlines {
	padding:10px 0;

}

%navitems{
	flex-direction: column;
	text-decoration: none;
	list-style-type: none;
	padding:10px 10px;
	text-align: center;


}


