
/* Font Types*/

$font-stack-primary: 'Lato' , sans-serif;
$font-stack-secondary: 'Slabo 27px', serif;

/* Colors */

$color-primary: #98DDDE;
$color-white: #fff;
$color-secondary: lightgray;
$color-default:  #95DEE3;
$color-success: #88B04B;
$color-error: #DC4C46; 
$color-warning: #F2552C; 
$color-info: #B76BA3;

/*Media Breakpoint */

$break-sm: 1px;
$break-md: 768px;
$break-lg: 1060px;


/*Size */

$font-size-small:	12px;
$font-size-regular:	16px;
$font-size-large:	24px;
$font-size-x-large:	32px;
$font-size-xx-large:	48px;
$font-size-xxx-large:	64px;
$font-size-xxxx-large:	96px;



/* Font Weight */



$font-weight-light:	300;
$font-weight-regular:	400;
$font-weight-bold:	600;




	
