.btn--default.theme__colors{
	@include button-style;
	 background-color: #95DEE3;  /* Island Paradise Blue */
	 @include mediaq(tablet){
	 @include  button-responsive;
	 }
}
.btn--success.theme__colors {

	@include button-style;
	 background-color: #88B04B;  /* Greenery */
	  @include mediaq(tablet){
	 @include  button-responsive;
	 }

     }
.btn--error.theme__colors {

	@include button-style;
	 background-color: #DC4C46;  /* Grenadine Red */
	  @include mediaq(tablet){
	 @include  button-responsive;
	 }
      }
.btn--warning.theme__colors {

	@include button-style;
	 background-color: #F2552C;  /* Flame */
	  @include mediaq(tablet){
	 @include  button-responsive;
	 }
      }
.btn--info.theme__colors {

	@include button-style;
	 background-color: #B76BA3;  /* Bodacious*/
	  @include mediaq(tablet){
	 @include  button-responsive;
	 }
    }


    
