.img--avatar{
    @extend %image;
	 display: block;
    width: 60%;
     @include mediaq(tablet){
    width: 50%;
    }
}
.img--logo{
	margin: 0px auto;
    @extend %image;
    width: 70%;
   
    @include mediaq(tablet){
    width: 80%;
    }

}
.img--frame{

	display: block;
    @extend %image;
    width: 100%;
    padding:10px;
    border: solid teal 1px;
    @include mediaq(tablet){
    width:90%;
    }
}


